@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Status Page";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Spy on any online 'zukies from our little web app...</h2>
        </hgroup>
        <p>
            You'll see the number of online little guys below, and based on which one you select, you'll
            be able to see it's current telemetry, where it is, what it currently sees. and eventually
            you'll be able to remotely control it from here as well...  Have fun - but leave Mr. Chauncey 
            alone, ok??
        </p>
        <p>
            This is a WORKING site - not intended to be beautiful, although I will be using it to learn
            Razor over time.  If it doesn't work, let me know.  If you think it's ugly, I got a mirror for you...
        </p>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET Web Pages and the new Razor syntax provide a fast, approachable, and lightweight way to combine server code with HTML
        to create dynamic web content. Connect to databases, add video, link to social networking sites, and include many more features
        that let you create beautiful sites using the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
    </li>
</ol>